html
  head
    title Viacheslav Pytel | Personal
    link(href="reset.css", rel="stylesheet")
    link(href="style.css", rel="stylesheet")
  body
    include ./header.pug
    include ./browserSync.pug