body {
    background-color: #17161B;
    font-family: Helvetica, Arial, sans-serif;
    color: ghostwhite;
}

@keyframes drop {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.menu {
    text-align: center;
    animation-name: drop;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-duration: 0.5s;
}

.menu-item {
    display: inline-block;
    margin: 0px 20px;
    height: 40px;
    cursor: pointer;
    border-top: 0px;
    text-align: center;
}

.menu-item-button a {
    padding-top: 20px;
    display: inline-block;
    text-decoration: none;
    font-size: 20px;
    color: silver;
    border-top: 3px solid rgba(0,0,0,0);
}

.menu-item-button_selected a, .menu-item-button a:hover {
    border-top: 3px solid ghostwhite;
    color: ghostwhite;
}

.menu-item-button a:hover {
    -webkit-transition: color 1s ease-out;
    -moz-transition: color 1s ease-out;
    -o-transition: color 1s ease-out;
    transition: color 1s ease-out;

    -webkit-transition: border-top-color 1s ease-out ;
    -moz-transition: border-top-color 1s ease-out;
    -o-transition: border-top-color 1s ease-out;
    transition: border-top-color 1s ease-out;
}

.content {
    animation-name: appear;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;

    position: relative;
    margin-left: 35%;
    margin-right: 35%;
    top: 15%;
    width: 30%;
    text-align: center;
}

.content-welcome {
    font-size: 20px;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
     -khtml-user-select: none; /* Konqueror */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  not supported by any browser */
}

.avatar {
    display: inline-block;
}

.avatar-label {
    margin-top: 30px;
    display: block;
}